
import os


# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)

SECRET_KEY = '>W\xa4/6\x01)\xbci}\x15\xa5\xd5#(\x9bl\x8e]\xdb\x8f{\xfa\xe6'

DEBUG = True

SQLALCHEMY_DATABASE_URI = 'mysql://root:Olu1989!@@localhost/api4pin'
SQLALCHEMY_TRACK_MODIFICATIONS = True
